<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Account</title>
</head>
<body>
    <form method="post" action="Addaccount" class="form">
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="auser" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="apassword" required>
            <input type="password" placeholder="Reenter Password" name="arepassword" required>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>