
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
    <script type="text/javascript" src="@Url.Content("/Scripts/proj4.js")"></script>
    <script src="https://epsg.io/3857.js"></script>
    <script src="https://epsg.io/2178.js"></script>
    <script src="https://epsg.io/4326.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>



    <style type="text/css">
        #map {
            height: 80vh;
            width: 100vw;
            position: absolute;
            top: 20vh;
            left: 0;
        }

        #buttons {
            height: 10vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>

    <title>Aplikacja 2017</title>

</head>
<body>
    <div id="buttons" class="buttons"></div>
    <div id="map" class="map"></div>
    <script>

        // inicjalizacja mapy
        var array = [];
        var osmLayer = new ol.layer.Tile({
            source: new ol.source.OSM()
        });
        var fill = new ol.style.Fill({
            color: 'rgba(255,0,0,1)'
        });
        var stroke = new ol.style.Stroke({
            color: 'rgba(255,0,0,1)',
            width: 1.25
        });
        var stylered = new ol.style.Style({
            image: new ol.style.Circle({
                fill: fill,
                stroke: stroke,
                radius: 5
            }),
            fill: fill,
            stroke: stroke
        });
        var vectorPollutionSource = new ol.source.Vector();
        
        var vectorSource = new ol.source.Vector();
        var vectorLayer = new ol.layer.Vector({
            source: vectorSource,
            style: stylered
        });
        var vectorPollutionLayer = new ol.layer.Vector({
            source: vectorPollutionSource,

        });
        

        
        var stylered1 = new ol.style.Style({
            fill: new ol.style.Fill({
                color: 'rgba(255, 100, 50, 0.3)'
            }),
            stroke: new ol.style.Stroke({
                width: 2,
                color: 'rgba(255, 100, 50, 0.8)'
            }),
            image: new ol.style.Circle({
                fill: new ol.style.Fill({
                    color: 'rgba(55, 200, 150, 0.5)'
                }),
                stroke: new ol.style.Stroke({
                    width: 1,
                    color: 'rgba(55, 200, 150, 0.8)'
                }),
                radius: 7
            }),
        });
        function stylebigred(feature) {

            var
                style = [],
                type = feature.get('description'),
                white = [255, 255, 255, 1],
                blue = [0, 153, 255, 1],
                red = [255, 0, 0, 1],
                width = 6
                ;
            console.log('style', type);
            
            var text = "";
            if (type[0] == '#') {
                $.ajax({
                    async: false,
                    url: "/Home/Getp",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ Address: type.substr(1), Lat: 0, Lon: 0 }),
                    success: function (response) {
                        text = response.Address;
                    },
                    error: function (response) { console.warn('getAllPoints error', response); }
                });
                console.log('text', text);
            }
            style['blue'] = [
                new ol.style.Style({
                    image: new ol.style.Circle({
                        radius: width * 5,
                        fill: new ol.style.Fill({ color: blue }),
                        stroke: new ol.style.Stroke({
                            color: white, width: width / 2
                        }),

                    }),
                    text: new ol.style.Text({
                        font: '32px Calibri,sans-serif',
                        fill: new ol.style.Fill({ color: '#000' }),
                        stroke: new ol.style.Stroke({
                            color: '#fff', width: 2
                        }),

                        text: feature.get('description')

                    })
                })
            ];
            style['red'] = [
                new ol.style.Style({
                    image: new ol.style.Circle({
                        radius: width * 4,
                        fill: new ol.style.Fill({ color: red }),
                        stroke: new ol.style.Stroke({
                            color: white, width: width / 2
                        }),

                    }),
                    text: new ol.style.Text({
                        font: '32px Calibri,sans-serif',
                        fill: new ol.style.Fill({ color: '#000' }),
                        stroke: new ol.style.Stroke({
                            color: '#fff', width: 2
                        }),

                        text: text

                    })
                })
            ];
            //style['old'] = stylered;
            if (type[0] != '#') return style['blue'];
            else return style['red'];
        };
        function selectableStyle(style) {
            return function () {
                return select.getFeatures().getArray().indexOf(this) == -1 ? stylebigred : style
            }
        };
        var map = new ol.Map({
            layers: [
                osmLayer
                , vectorLayer,
                vectorPollutionLayer
            ],
            renderer: 'canvas',
            target: 'map',
            
            view: new ol.View({
                center: [2338840.0820985506, 6844805.243624669],
                zoom: 8
            })
        });

        // kliknięcia - strzał do serwera
        /*var selectSingleClick = new ol.interaction.Pointer({

            handleDownEvent: function (e) {
                console.warn(e.coordinate);
                lon = e.coordinate[0];
                lat = e.coordinate[1];

                $.ajax({
                    url: "/Home/AddPoint",
                    type: "",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ lon: lon, lat: lat }),
                    success: function (response) {
                        console.log('success', response);
                        alert('Adres: ' + response.Name);
                    },
                    error: function (response) {
                        console.warn('error', response);
                    }
                });
                feature = new ol.Feature({
                    geometry: new ol.geom.Point([lon, lat])
                });
                vectorSource.addFeature(feature);
            }
        });*/
        map.on("click", function (e) {
            console.warn(e.coordinate);
            lon = e.coordinate[0];
            lat = e.coordinate[1];
            var w = 1;
            var min = 1000000;
            for (var i = 0; i < array.length; i++){
                var temp = Math.sqrt(Math.pow(Math.abs(lon - array[i][0][0]), 2) + Math.pow(Math.abs(lat - array[i][0][1]), 2));
                if (temp<min){
                    min = temp;
                    w = array[i][1];
                }
            }
            $.ajax({
                url: "/Home/AddPoint",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ lon: lon, lat: lat}),
                success: function (response) {
                    console.log('res', response);
                    var myNode = document.getElementById("buttons");
                    while (myNode.firstChild) {
                        myNode.removeChild(myNode.firstChild);
                    }
                    var h = document.createElement("H3");         
                    var t = document.createTextNode("Sprecyzuj adres");     
                    h.appendChild(t);
                    myNode.appendChild(h);
                    //myNode.appendChild(document.createElement("br"));
                    
                    for (var i = 0; i < response.length; i++) {
                        var element = document.createElement("input");
                        element.type = "button";
                        element.value = response[i];
                        element.onclick = function () { 
                            console.log('add', this.value);
                            var ad = this.value;
                            $.ajax({
                                url: "/Home/AddAddress",
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                data: JSON.stringify({ Address: ad, Lon: lon, Lat: lat, Points:w}),
                                success: function (r) {
                                    alert('Added ' + ad);
                                    
                                    var myNode = document.getElementById("buttons");
                                    while (myNode.firstChild) {
                                        myNode.removeChild(myNode.firstChild);
                                    }
                                    if (r.Address != "") {
                                        
                                        //console.log('point', [r.Lat, r.Lon]);
                                        //proj4.defs("EPSG:2178", "+proj=tmerc +lat_0=0 +lon_0=21 +k=0.999923 +x_0=7500000 +y_0=0 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs");
                                        //proj4.defs("EPSG:3857", "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0 +k=1.0 +units=m +nadgrids=@null +wktext  +no_defs");
                                        //var Proj2178 = ol.proj.get('EPSG:2178');
                                        //var Proj3857 = ol.proj.get('EPSG:3857');
                                        var firstProjection = "+proj=tmerc +lat_0=0 +lon_0=21 +k=0.999923 +x_0=7500000 +y_0=0 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs";
                                        var secondProjection = "+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0 +k=1.0 +units=m +nadgrids=@null +wktext  +no_defs";
                                        //I'm not going to redefine those two in latter examples.
                                        console.log('point', [r.Lat, r.Lon]);
                                        var point = proj4(firstProjection, secondProjection, [r.Lat, r.Lon]);
                                        console.log('point', point);
                                        feature = new ol.Feature({
                                            
                                            geometry: new ol.geom.Point([point[0], point[1]])
                                        });
                                        //feature.setId('stylered');
                                        //feature.setStyle(stylered);
                                        //feature.setStyle(selectableStyle(stylered));
                                        feature.set('description', '#' + r.Address);
                                        console.log('address', feature.get('description'));
                                        vectorSource.addFeature(feature);
                                    }
                                },
                                error: function (r) {
                                    console.warn('error', response);
                                    
                                    var myNode = document.getElementById("buttons");
                                    while (myNode.firstChild) {
                                        myNode.removeChild(myNode.firstChild);
                                    }
                                }
                            });
                        };
                        console.log('i', i);
                        console.log('resi', response[i]);
                        var foo = document.getElementById("buttons");
                        //Append the element in page (in span).  
                        foo.appendChild(element);
                    }
                    var element = document.createElement("input");
                    element.type = "button";
                    element.value = "Cancel";
                    element.onclick = function () {
                        var myNode = document.getElementById("buttons");
                        while (myNode.firstChild) {
                            myNode.removeChild(myNode.firstChild);
                        }
                    }
                    var foo = document.getElementById("buttons");
                    foo.appendChild(element);
                    
                    //console.log('success', response);
                    //alert('Adres: ' + response[0]);
                },
                error: function (response) {
                    console.warn('error', response);
                }
            });
            
            
        });

        var drawPolygon = new ol.interaction.Draw({
            source: vectorSource,
            type: 'Point',
            style: stylered
        });
        //map.addInteraction(drawPolygon);
        //map.addInteraction(selectSingleClick);

        // wczytywanie punktów z bazy danych
        $.ajax({
            url: "/Home/GetAllPoints",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {},
            success: function (response) {
                var l = response.length;
                console.log('success', response);

                for (var i = 0; i < l; i++) {
                    feature = new ol.Feature({
                        
                        geometry: new ol.geom.Point([response[i].Lon, response[i].Lat])
                    });
                    //feature.setId('stylered');
                    //feature.setStyle(stylered);
                    //feature.setStyle(selectableStyle(stylered));
                    feature.set('description', '#'+response[i].Address);
                    console.log('address', feature.get('description'));
                    vectorSource.addFeature(feature);
                }
            },
            error: function (response) { console.warn('getAllPoints error', response); }
        });

        
        $.getJSON('https://api.waqi.info/search/?token=1ee93026043de120ab7df180bb2f73b78f6f6541&keyword=mazowieckie', function (data) {
            var l = data.data.length;
            console.log('data', data);
            
            console.log('l', l);

            for (var i = 0; i < l; i++) {
                console.log('point', [data.data[i].station.geo[0], data.data[i].station.geo[1]]);
                var point = ol.proj.transform([data.data[i].station.geo[1], data.data[i].station.geo[0]], 'EPSG:4326', 'EPSG:3857');
                array.push([point, data.data[i].aqi]);

                if (data.data[i].aqi != "" && data.data[i].aqi != "-"){
                    console.log('newpoint', point);

                    var feature = new ol.Feature({

                        geometry: new ol.geom.Point([point[0], point[1]]),

                    });
                    feature.set('description', data.data[i].aqi);
                    console.log('aqi', feature.get('description'));
                    
                    vectorPollutionSource.addFeature(feature);
                }
            }
        });

        

        
        var hoverInteraction = new ol.interaction.Select({
            condition: ol.events.condition.pointerMove,
            style: stylebigred,
            
        });
        map.addInteraction(hoverInteraction);
        //map.on('pointermove', function (e) {
        //    if (e.dragging) return;

        //    var pixel = map.getEventPixel(e.originalEvent);
        //    var hit = map.hasFeatureAtPixel(pixel);

        //    map.getTargetElement().style.cursor = hit ? 'pointer' : '';
        //});

    </script>
</body>
</html>
