
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
    <script src="https://openlayers.org/en/v4.0.1/build/ol-debug.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://openlayers.org/en/v3.19.1/build/ol.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
    <script src="https://epsg.io/3857.js"></script>

    <style type="text/css">
        th, td{
            border: 1px solid black;
        }

        #buttons {
            height: 10vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>

    <title>List</title>

</head>
<body>

    <table id="table" style="border:1px solid black; border-collapse: collapse"></table>
<script>
    
    $.ajax({
        url: "/Home/Getlist",
        type: "POST",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: {},
        success: function (r) {
            console.log('success');
            var myNode = document.getElementById("table");
            console.log('success',r);
            while (myNode.firstChild) {
                myNode.removeChild(myNode.firstChild);
            }
            console.log('success', r.length);
            var tr = document.createElement("tr");
            var th1 = document.createElement("th");
            var th2 = document.createElement("th");
            var th3 = document.createElement("th");
            th1.innerText = "Pollution index";
            th2.innerText = "Click count";
            th3.innerText = "Address";
            tr.appendChild(th1);
            tr.appendChild(th2);
            tr.appendChild(th3);
            myNode.appendChild(tr);
            for (var i = 0; i < r.length; i++){
                var tr = document.createElement("tr");
                console.log('i',i);
                var td1 = document.createElement("td");
                var td2 = document.createElement("td");
                var td3 = document.createElement("td");
                td1.innerText = r[i].Lat;
                td2.innerText = r[i].Address;
                td3.innerText = r[i].Lon;
                tr.appendChild(td1);
                tr.appendChild(td3);
                tr.appendChild(td2);
                myNode.appendChild(tr);
            }
            
        },
        error: function (r) {
            console.warn('error', r);

            var myNode = document.getElementById("table");
            while (myNode.firstChild) {
                myNode.removeChild(myNode.firstChild);
            }
        }
    });
</script>
</body>
</html>
